<style>

</style>

<div id="wrapper">

  <h1>Make Sidekiq Job</h1>

  <button class="generate-sidekiq">
    GENERTATE SIDEKIQ JOB
  </button>

  <div id="footer-javascripts">
    <script type="text/javascript">
      $("button.generate-sidekiq").on("click", function() {
        window.location = "<%= ror_report_url %>"
      })
    </script>
  </div>

</div>
