<style>
  .sales-report {
    height: 500px;
  }
</style>

<div id="wrapper">

  <h1>THE JOB WAS CREATED</h1>


  <div id="footer-javascripts">
    <script type="text/javascript">
    </script>
  </div>

</div>
